<!-- Kaupunkisiuetti -->
<section class="cityline-section">
  <img src="Pages/Resources/main-kuvat/kaupunki-siluetti.png" alt="Kaupunki" class="cityline-img">
</section>
<!-- Asfaltti elementti -->
<img src="Pages/Resources/main-kuvat/asfaltti.png" alt="Tie" class="road" />