<footer>
  <div class="footer-links">
    <a href="/tietosuoja">Tietosuojaseloste</a>
  </div>
  <p>© Henri Hellsten</p>
  <div class="footer-nav">
    <a href="/">Koti</a> | 
    <a href="/aloita-matka">Aloita matka</a> | 
    <a href="/ajohistoria">Ajohistoria</a> | 
    <a href="/kirjaudu-sisaan">Kirjaudu</a>
  </div>
</footer>

<script src="/Pages/Resources/main.js" defer></script>
