

<main class="hero">
  <div class="welcome-box">
    <h2>Tervetuloa matkalle!</h2>
    <p>
      Olen GPS-ajopäiväkirja ja kirjaan automatkasi. <br><br>
      Jos haluat käyttää minua, 
      niin rekisteröidy ensin ja lähde matkaan.
    </p>
  </div>

  <div class="car-section">
    <img src="Pages/Resources/main-kuvat/Auto-RED.png" alt="Piirretty auto" class="car" />
    <button class="start-btn" id="startTripBtn">Aloita matka</button>  
  </div>
  

</main>

<link rel="stylesheet" href="/Pages/Page1/local-css/etusivu.css">

<script src="/Pages/Page1/local-js/etusivu.js" defer></script>


